*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #D5E1EF;
}

.main {
    text-align: center;
    margin:0px auto;
    max-width: 288px;
}

img {
    border-radius: 10px;
    max-width: 288px;
}